body{
  background-color: #404080;
  font-family: "Courier New", Courier, monospace;
  color: #8C8F91;
}

.container{
  font-family: 'Trirong', serif;
  background-color: #305a78;
  color: #d3d9dd;
  min-height: 50%;
}

#movie-input {
  color: #222222;
  margin: 15px;
}

.omdb_button {
  border-radius: 5px;
  padding: 10px;
  background-color: #222222;
  color: #f1f1f1;
}

.noFloat{
  float:none;
}

header{
  background-color: #25465d;
}

img, video{
  float: left;
  padding: 7.5%;
}

div{
  padding: .25%;
  margin: .25%;
}

h1, footer, label{
  color: #EAEFF3;
}
