body {
  background-color: #2f2f2f;
  font-family: "Courier New", Courier, monospace;
  color: #8C8F91;
}

#main-background {
  min-height: 90%;
  border: 1px solid #222222;
  background-color: #25465d;
  margin: 50px auto;
}

.omdb-summary, .omdb-image {
  line-height: 16px;
  text-align: left;
  font-size: 12px;
}

.banner-set {
  border: 1px solid #404040;
  background-color: #204050;
  margin: 10px;
}

.container {
  font-family: 'Trirong', serif;
  color: #d3d9dd;
}

#movie-input {
  color: #222222;
  margin: 15px;
}

.omdb_button {
  border-radius: 3px;
  border: 1px solid #444444;
  padding: 10px;
  background-color: #222222;
  color: #f1f1f1;
}

.noFloat{
  float:none;
}

header{
  background-color: #25465d;
}

img, video{
  padding: 0px 20px;
}

div{
  padding: .25%;
  margin: .25%;
}

h1, footer, label{
  color: #EAEFF3;
}
