body{
  background-color: #8f8f8f;
  font-family: "Courier New", Courier, monospace;
  color: #8C8F91;
}

body:before {
    background-image: url("tile_repeat.jpg");
    background-attachment: fixed;
    content: "";
    height: 300%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
}

.container{
  font-family: 'Trirong', serif;
  background-color: #305a78;
  color: #d3d9dd;
}

.noFloat{
  float:none;
}

header{
  background-color: #25465d;
}

img, video{
  float: left;
  padding: 7.5%;
}

div{
  padding: .25%;
  margin: .25%;
}

h1, footer, label{
  color: #EAEFF3;
}
